RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.html [L]

ErrorDocument 401 /redirect404.php

ErrorDocument 403 /redirect404.php

ErrorDocument 404 /redirect404.php

ErrorDocument 500 /redirect404.php

RewriteEngine on

RewriteRule ^folder/?$ - [F,L]