@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Quicksand';
	margin: 0;
	max-width: 100%;
	scroll-behavior: smooth;
}

#hs tr:nth-child(even){background-color: #f2f2f2;}

#hs tr:hover {background-color: #ddd;}

#hs th {
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

#hs td, #hs th {
  border: 1px solid #ddd;
  padding: 8px;
}

.container{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

.navbar{
	display: inline-block;
	background: #13CF74;
	width: 100%;
}

ul li{
	list-style-type: none;
	display: inline-block;
}

ul li .item{
	text-align: center;
	padding: 10px 20px;
	display: inline-block;
	background: #13CF74;
	color: white;
	text-decoration: none;
	min-width: 100px;
	transition: .2s ease;
}

ul li .item:hover{
	color: yellow;
	transform: scale(1.2);
}


.roundcard{
	margin: 30px;
	min-width: 100%;
	min-height: 400px;
	display: inline-block;
	text-align: center;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-input{
	outline: none;
	font-family: 'Quicksand';
	font-size: 20px;
	width: 100%;
	border:none;
	background: white;
	border-bottom: 1px solid black;
}

.user-input: focus{

}

.success-btn{
	font-family: 'Quicksand';
	display: block;
	min-width: 200px;
	min-height: 50px;
	margin: 20px;
	font-size: 20px;
	background: #13CF74;
	color: white;
	border:none;
	border-radius: 30px;
	transition: .2s ease;
}

.success-btn:hover{
	background: #85EEBB;
	cursor: pointer;
}

select, select option{
	display: inline-block;
	padding: 10px 40px;
	font-size: 20px;
	font-family: 'Quicksand';
	border-radius: 10px;
}

div .box{
	margin: 10px;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 10px;	
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	max-width: 260px;
	min-width: 260px;
	text-align: center;
}

div .box .title{
	text-align: center;
}

div .box .image img{
	width: 140px;
	display: inline-block;
	min-width: 140px;
	margin: 30px;
}

div .box .description{
	color: grey;
	max-width: 100%;
	overflow: hidden;
}

.view-more-btn{
	display: inline-block;
	padding: 10px 40px;
	width: 60%;
	text-decoration: none;
	color: white;
	background-color: #13CF74 ;
	text-align: center;
	border-radius: 40px;
	transition: .2s ease;
}

.view-more-btn:hover{
	background: #8BEB80;
	transform: scale(1.2) skewY(-10deg);
}